@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* common */
* {font-family: 'Noto Sans KR', sans-serif;}
.inner {width: 950px; margin: 0 auto; position: relative; text-align: center;}
.inner:after {content:""; display: block; clear: both;}
.spacer {width: 100%; height: 100%;}

/* quickBanner */
.quickBanner {position: fixed; top: 350px; left: 55%; margin-left: 476px; z-index: 105;}
.quickBanner li{margin-top: 20px;}
.quickBanner .count {width: 120px; padding: 20px 15px; background: #000; font-size: 15px; color: #d07df2; font-weight: bold; box-sizing: border-box; }
.quickBanner .count strong {font-size: 21px; color: #fff;}

.main {height: 1722px; background: url('//s3.ap-northeast-2.amazonaws.com/st.dev.dangidata/gong7_conects/img/landing/2020/lcg_teaser/main_bg.jpg') #19380F top center no-repeat; box-sizing: border-box;}
.main .inner {z-index: 1;}
.main .ani{opacity: 0;opacity:1 \0/IE9;}
.main .ani.no1 {padding: 85px 0 60px; animation: zoomOut .5s .2s linear both;}
.main .ani.no2 {transform: translateY(50%); animation: slideInUp .3s .7s linear both;}
.main .history {width: 350px; margin: 208px auto 0; text-align: left;}
.main .scrollAni.on .ani.no3 { transform: translateY(50%); animation: slideInUp .3s .3s linear both; z-index: 4;}
.main .scrollAni.on .ani.no4 {padding-top: 65px; transform: translateY(50%); animation: slideInUp .3s .6s linear both; z-index: 3;}
.main .scrollAni.on .ani.no5 {padding-top: 25px; transform: translateY(50%); animation: slideInUp .3s .8s linear both; z-index: 2;}
.main .scrollAni.on .ani.no6 {padding-top: 185px; transform: translateY(50%); animation: slideInUp .3s 1.2s linear both; z-index: 1;}
.main .scrollAni.on .ani.no7 {padding-top: 20px; transform: translateY(50%); animation: slideInUp .3s 1.5s linear both; z-index: 1;}

@keyframes zoomOut {
    0%{transform: scale(0.7);}
    100%{transform: scale(1);opacity: 1;}
}

@keyframes slideInUp {
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes slideInLeft {
    100%{transform: translateX(0);opacity: 1;}
}

@keyframes afterView {
    0% {opacity: 0;}
    100% { opacity: 1; }
}

.introWrap {background: url('//s3.ap-northeast-2.amazonaws.com/st.dev.dangidata/gong7_conects/img/landing/2020/lcg_teaser/intro_bg.jpg') #344D2C top center no-repeat; box-sizing: border-box;}
.introWrap h4 {padding: 83px 0 97px;}

.eventWrap {padding: 80px 0; letter-spacing: -0.5px;}

.eventWrap {padding: 80px 0;}
.eventWrap .noticeWrap {padding: 35px; margin-top: 35px; width: 100%; background: #F7F8F9; box-sizing: border-box; text-align: left; font-size: 14px; color: #72787F;}
.eventWrap .noticeWrap h5 {color: #26282B; font-size: 16px; padding-bottom: 10px; font-weight: bold;}
.eventWrap .noticeWrap li {line-height: 1.7;}
.eventWrap .noticeWrap li strong {padding-right: 8px;}

.navWrap {padding: 20px 0; background: #000;}
.navWrap h4 {padding-bottom: 10px;}
.navWrap ul:after {content:""; display: block; clear: both;}
.navWrap li {float: left;  vertical-align: middle; width: 170px; margin-left: 20px; letter-spacing: -0.5px;}
.navWrap li:first-child {margin-left: 0; }
.navWrap li a {display: inline-block; font-weight: bold;}
.navWrap li p {font-size: 12px; color: #26282B;}
.navWrap li div {font-size: 14px; color: #454C53;}
.navWrap li a:hover p,
.navWrap li.active p {color: #9EA4AA;}
.navWrap li a:hover div,
.navWrap li.active div { color: #fff;}