/* common */
* {font-family: 'Noto Sans KR', sans-serif;outline: none;box-sizing: border-box;}
.inner {width: 1200px; margin: 0 auto; text-align: center;position: relative;}

.d-block{display: block;}

/* sec_01 */
.sec_01{width: 100%;height: 957px;overflow: hidden;background: url("./img/sect_01/bg.png") no-repeat center bottom, linear-gradient(95.94deg, #3BBB84 17.56%, #2CA572 83.95%);padding: 73px 0 35px;}
.sec_01 .info{color: #FFFFFF;opacity: .5;}