@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{font-family: 'Noto Sans KR', sans-serif;outline: none;}

/* Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,input,button,table,select,textarea{font-family:'Malgun Gothic','맑은고딕','맑은 고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:12px;color:#333}
img,fieldset{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
hr{display:none}
table{border-collapse:collapse;border-spacing:0}
input[type=checkbox],input[type=radio]{width:13px;height:13px;border:0 none}
a{text-decoration:none}
a:hover{}
video{display:block}

/* common */
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.skip{overflow:hidden;position:absolute;top:-999em;left:-999em;width:1px;height:1px}

html,body{width:100%;height:100%}
html{overflow-y:scroll}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
body,input,button{font-size:12px;line-height:1.5em;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:12px;}
img,fieldset,iframe{border:0 none}
ul li{list-style:none}
a{color:#676767;text-decoration:none}
textarea{overflow:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
em,address{font-style:normal}
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative}
button img{left:-3px;*left:auto}

/* Common */
#kcaptcha{cursor:pointer}
label.error{display:block;color:red}

/* jvalid */
.ed{padding:2px;border:1px solid #ccc}

/* input */
.tx{padding:5px;border:1px solid #ccc;font-size:12px}

/* sideview */
.member{font-weight:bold;color:#888}
.guest{font-weight:normal;color:#888}
#sideview{width:90px;margin:5px 0 0;border:1px solid #e0e0e0;background-color:#f9fbfb}
#sideview ul li span{font-family:'돋움';font-size:11px;color:#a0a0a0}

/* ajax */
#loading{display:none;position:absolute;top:50%;left:50%;z-index:1;width:100px;height:100px;margin-top:-50px;margin-left:-50px;background:url(/img/js/load_ajax3.gif) no-repeat}

/* search_font */
.sFont{background-color:#fffc00;color:#f00}

/* layout */
.wrapper{width:100% !important;}
#wrap{position:relative;/*min-width:1170px;height:100%;padding-left:142px;*/}
#container{position:relative;margin:0 auto;padding-bottom:50px;}
#contents{position:relative;width:960px;padding-right:190px;margin:0 auto 80px;word-break:break-all;padding-top:60px;}
#contents.landing{margin:0 auto;}
#footer{}
#tfooter{margin-top: 0 !important}
#container:after,#header:after,#contents:after,#footer:after{display:block;clear:both;content:'';}
#contents .r_banner_zone{position:absolute;top:0;right:0;width:170px;}
#contents .r_banner_zone.teacher_banner{top:264px;right:85px;}
#contents .r_banner_zone .ban_quick,
#contents .r_banner_zone .ban_sky{width:170px;}
#contents .r_banner_zone .ban_quick h3{width:157px;height:22px;padding:16px 0 0 11px;background:#2a2524;border:solid #2a2524;border-width:1px;}
#contents .r_banner_zone .ban_quick ul{border:solid #d1d1d1;border-width:1px;}
#contents .r_banner_zone .ban_quick ul li{height:18px;padding:15px 0 14px;border:solid #dbdbdb;border-width:1px 0 0;}
#contents .r_banner_zone .ban_quick ul li:first-child{border:0;}
#contents .r_banner_zone .ban_quick ul li a{display:block;padding:10px 0;}
#contents .r_banner_zone .ban_quick ul li{padding-left:10px;/*width:7px;background:url(/img/purchase/blt_quickmenu.gif) no-repeat 95% 50%;*/}
#contents .r_banner_zone .ban_quick ul li a{width:148px;background:url(/img/purchase/quick_menu.gif) no-repeat 0 0;height:18px;padding:0;text-indent:-500%;white-space:nowrap;overflow:hidden;}
#contents .r_banner_zone .ban_quick ul li.qm_01 a{background-position:0 0;}
#contents .r_banner_zone .ban_quick ul li.qm_02 a{background-position:-158px 0;}
#contents .r_banner_zone .ban_quick ul li.qm_03 a{background-position:-316px 0;}
#contents .r_banner_zone .ban_quick ul li.qm_04 a{background-position:-468px 0;}
#contents .r_banner_zone .ban_quick ul li.qm_05 a{background-position:-622px 0;}
#contents .r_banner_zone .ban_quick ul li.qm_01 a:hover{background-position:0 -20px;}
#contents .r_banner_zone .ban_quick ul li.qm_02 a:hover{background-position:-158px -20px;}
#contents .r_banner_zone .ban_quick ul li.qm_03 a:hover{background-position:-316px -20px;}
#contents .r_banner_zone .ban_quick ul li.qm_04 a:hover{background-position:-468px -20px;}
#contents .r_banner_zone .ban_quick ul li.qm_05 a:hover{background-position:-622px -20px;}

#contents .r_banner_zone .ban_sky ul li{margin-top:10px;}
#contents .r_banner_zone .ban_sky ul li:first-child{margin-top:0;}
